.claude
.editorconfig
.git
.github
.gitignore
.releaserc.json
.tool-versions
.vscode
.vscode-test/**
.vscode/**
.vscodeignore
**/*.map
**/*.ts
**/tsconfig.json
biome.json
docs
examples
jest.config.js
node_modules/**
out/**
src/**
test-workspace
tsconfig.json
webpack.config.js
