.editorconfig
.eslintrc.json
.git
.github
.gitignore
.nvmrc
.prettierrc.json
.releaserc.json
.vscode
.vscode-test/**
.vscode/**
.vscodeignore
.yarnrc
**/.eslintrc.json
**/*.map
**/*.ts
**/tsconfig.json
docs
examples
node_modules/**
out/**
src/**
tsconfig.json
vsc-extension-quickstart.md
webpack.config.js
